body {
  font-family: 'Roboto', sans-serif;
  background-color: seashell;
}

.calc-btn {
  width: 25px;
  height: 45px;
  border: 1px solid gray;
  text-align: center;
  cursor: pointer;
  font-size: 26px;
  font-weight: 100;
  padding-top: 3px;
}

.calc-btn:hover {
  background-color: orange;
}

.row {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.column {
  display: table-cell;
}

.display {
  height: 80px;
  text-align: right;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-top: 1px solid gray;
  background-color: rgb(77,76,77);
  border-radius: 7px 7px 0 0;
}

h1 {
  text-align: center;
  color: maroon;
  margin-top: 50px;
}

#calculator {
  margin: auto;
  width: 200px;
  box-shadow: 10px 10px 58px 8px rgba(82,82,82,1);
}

#calc-0 {
  width: 51.9px;
  border-radius: 0 0 0 7px
}

#display-output {
  color: white;
  font-size: 48px;
  overflow: hidden;
  white-space: nowrap;
  padding: 12px;
}

#display-history {
  color: lightgray;
  width: 200px;
  font-size: 15px;
  overflow: hidden;
  white-space: nowrap;
  padding: 1px;
}

#calc-equals {
  border-radius: 0 0 7px 0
}

/* ----- COLOR THEMES ----- */

/* MAC */

.operator-mac {
  background-color: orange;
  color: white;
}

.operator-mac:hover {
  background-color: darkgray;
}

.mac-1 {
  background-color: rgb(208, 208, 208)
}

.mac-2, .mac-3, .mac-4, .mac-5 {
  background-color: rgb(225, 224, 225);
  color: black;
}
